# URL del servidor backend Java
VITE_API_URL=http://localhost:8080

# Para cambiar el puerto del servidor frontend
# VITE_HMR_PORT=5173

# Web3 / Blockchain
VITE_WC_PROJECT_ID=your_walletconnect_project_id
VITE_IDEA_TOKEN_ADDRESS=0x9f2c766d0bd9bbb640422decdf0125be02c7d144
VITE_INVESTMENT_SWAP_ADDRESS=0x4c53728b0a625dE5C80bF0807265cA2b91F769fa
VITE_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
